# requirements.txt / huggingface

scikit-learn
spacy
emoji
gradio>=5.23.1
joblib
numpy
pandas
plotly
# sendgrid
pytest-cov          # plugin Pytest pour générer un rapport de couverture de code (quelles lignes sont testées)
# smtplib

# gradio==4.17.0
# fasttext-wheel
# spacy
# emoji
# pandas
# scikit-learn==0.22.2.post1
# cython==0.29.21
# joblib==0.17.0
# scipy==1.7.3
# numpy==1.21.5sendgrid
